.homepage-container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  order: 1;
}

:root {
  background-color: #10172b;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

button {
  background-color: #ffa500;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
